html
  head
    - const siteTitle = title ? `| ${title}` : '';
    title= `Idea generator ${siteTitle}`
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet")
  body
    block content