extends layout

include mixins/_script-getIdea

block content
  div(class='container background--'+background)
    #idea
      h1 #{idea}
    .button#generate__button(onClick='generateNewIdea()') More Ideas 💡
  +getIdea(endpoint)